<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oasis">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.issue.SubmitMoreActivity"></activity>
        <activity android:name=".ui.issue.ChannelActivity"/>
        <activity android:name=".ui.issue.ThemeActivity"/>
        <activity android:name=".ui.issue.AddressActivity"/>
        <activity android:name=".ui.issue.TagsActivity" />
        <activity android:name=".ui.guidance.SexActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.guidance.IntroductionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.issue.IssueActivity" />
        <activity android:name=".ui.OasisActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>